<!doctype html>
<html ng-app>
<head>

  <title>Sudoku AngularJS App</title>

  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/bootstrap.min.css"/>

  <script src="js/sudoku.js"></script>

  <script src="lib/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="SudokuCtrl">

  <h2>{{title}}</h2>

    <div>{{difficulty}}</div>

  <div id="grid">
    <div ng-repeat="num in grid" class="grid-box">
      <span ng-click="test()">{{num}}</span>
    </div>
  </div>

</body>
</html>
